[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = RU
ST = Russia
L = Moscow
O = WebinarDev
CN = 192.168.0.17

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = *.localhost
IP.1 = 127.0.0.1
IP.2 = 192.168.0.17
IP.3 = 0.0.0.0
# Если у вас есть другие устройства, с которых вы будете заходить, добавьте их IP сюда:
IP.4 = 10.25.35.190